<div class="contailer-fluid alert alert-warning home-title" role="alert">Live cricket scores simulation ...</div>
<section class='container'>

    <div class='row'>

        <div class="container" ng-show="showLoader">
            <div class="row" id="loader-wrapper">
                <div class="col-xs-12" id="loader"></div>
            </div>
        </div>

        <uib-accordion close-others="true" ng-hide="showLoader">
            <div uib-accordion-group class="panel-default" ng-repeat="match in matches" is-open="isOpen">
                <uib-accordion-heading>
                    <div class="col-xs-12 col-md-6 first-team"><img ng-if="match.team1.name" class="logo"
                                                                    ng-src="{{buildImageUrl(match.team1.name)}}">
                        {{match.team1.name}} <span class="score">{{match.team1.score}}/{{match.team1.wickets}} </span>
                        <span class="overs"> Over(s): <strong>{{floor(match.team1.balls/6) + '.' + match.team1.balls%6}}</strong></span>
                    </div>
                    <div class="second-team"><img ng-if="match.team2.name" class="logo" style="margin-left:10px;"
                                                  ng-src="{{buildImageUrl(match.team2.name)}}">
                        {{match.team2.name}} <span class="score">{{match.team2.score}}/{{match.team2.wickets}}</span>
                        <span class="overs"> Over(s): <strong>{{floor(match.team2.balls/6) + '.' + match.team2.balls%6}}</strong></span>
                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                    </div>
                </uib-accordion-heading>

                <div class="table-responsive" ng-if="match.team1Batting">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Batsmen</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Runs</th>
                            <th>Balls</th>
                            <th>Strike Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="batsman in match.team1.batsmen">
                            <td>{{batsman.name}} <span ng-show="batsman.onStrike" class="glyphicon glyphicon-asterisk"></span></td>
                            <td>{{batsman.dismissed_by}}</td>
                            <td>{{batsman.dismissal_type}}</td>
                            <td>{{batsman.runs}}</td>
                            <td>{{batsman.balls}}</td>
                            <td>{{fixToTwo(batsman.runs, batsman.balls)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive" ng-if="match.team1Batting">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Bowler</th>
                            <th>Runs</th>
                            <th>Overs</th>
                            <th>Wickets</th>
                            <th>Economy</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bowler in match.team1.bowlers">
                            <td>{{bowler.name}} <span ng-show="bowler.isBowling" class="glyphicon glyphicon-asterisk"></span></td>
                            <td>{{bowler.runs}}</td>
                            <td>{{floor(bowler.balls/6) +'.'+bowler.balls%6}}</td>
                            <td>{{bowler.wickets}}</td>
                            <td>{{calcEcon(bowler.runs, bowler.balls)}}</td>
                        </tr>
                        <tr>
                            <div class='viewmore col-xs-12'><a ui-sref="app.matchDetails({mid:match.matchStats.id, pos:match.startPos, matchStats: match.matchStats})">view full
                            scorecard</a>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>

                <div class="table-responsive" ng-if="match.team2Batting">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Batsmen</th>
                            <th>&nbsp;</th>
                            <th>&nbsp;</th>
                            <th>Runs</th>
                            <th>Balls</th>
                            <th>Strike Rate</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="batsman in match.team2.batsmen">
                            <td>{{batsman.name}} <span ng-show="batsman.onStrike" class="glyphicon glyphicon-asterisk"></span></td>
                            <td>{{batsman.dismissed_by}}</td>
                            <td>{{batsman.dismissal_type}}</td>
                            <td>{{batsman.runs}}</td>
                            <td>{{batsman.balls}}</td>
                            <td>{{fixToTwo(batsman.runs, batsman.balls)}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="table-responsive" ng-if="match.team2Batting">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Bowler</th>
                            <th>Runs</th>
                            <th>Overs</th>
                            <th>Wickets</th>
                            <th>Economy</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="bowler in match.team2.bowlers">
                            <td>{{bowler.name}} <span ng-show="bowler.isBowling" class="glyphicon glyphicon-asterisk"></span></td>
                            <td>{{bowler.runs}}</td>
                            <td>{{floor(bowler.balls/6) +'.'+bowler.balls%6}}</td>
                            <td>{{bowler.wickets}}</td>
                            <td>{{calcEcon(bowler.runs, bowler.balls)}}</td>
                        </tr>
                        <tr>
                            <div class='viewmore col-xs-12'><a ui-sref="app.matchDetails({mid:match.matchStats.id, pos:match.startPos, matchStats: match.matchStats})">view full
                                scorecard</a>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </uib-accordion>

    </div>
</section>

