/* ---------------- configuration -----------------------------*/

/*
Small devices (tablets, 768px and up)
Medium devices (desktops, 992px and up)
Large devices (large desktops, 1200px and up)
X-Large devices (large desktops, 1400px and up) */

body {
    margin-top: 60px;
    /*background: linear-gradient(#4b76da, #3857a1, #2f4988);*/
    background: #D9D9D9;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

/*------------------------navbar ----------------------*/

.navbar.navbar-default {
    background: #36559e;
    /*background: linear-gradient(#575757, #2C2C2C, #020202);*/
    border-bottom: none;
}

.navbar-header .navbar-brand {
    color: #5bbee8;
}

#navbar > .navbar-nav > li > a {
    color: #fff;
}

#navbar > .navbar-nav > li > a:hover {
    color: silver;
}

.typeahead-demo .custom-popup-wrapper {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    background-color: #f9f9f9;
}

.typeahead-demo .custom-popup-wrapper > .message {
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
    color: #868686;
}

.typeahead-demo .custom-popup-wrapper > .dropdown-menu {
    position: static;
    float: none;
    display: block;
    min-width: 160px;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

/* --------------------------- home page -----------------------------------*/

.home-title {
    text-align: center;
    margin: 20px auto;
    background: #FFE28C;
    color: #BB993D;
    font-size: 18px;
    border-color: #FFE28C;
}

.panel-default .score {
    color: green;
    font-weight: bold;
}


.panel-default .won {
    text-align: center;
    color: #c42911;
    font-size: 24px;
    font-weight: bold;
}

 .panel-default .logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
     border: 2px solid #cfaf00;
}

 .first-team{
     padding-bottom: 3px;
 }

 .second-team{
     margin-left: 5px;
 }

.panel-title {
    font-size: 18px;
}

.accordion-toggle:hover{
    color: gray;
}

.accordion-toggle:hover, .accordion-toggle:focus, .accordion-toggle:active{

    text-decoration: none;
    outline-style: none;
}

.overs {
    color: #6e6e6e;
   /* text-shadow: 1px 4px 6px #F5F5F5, 0 0 0 #000; */
    font-size: 13px;
}


.glyphicon-asterisk {
    font-size: 12px;
}


@media only screen and (max-width: 768px) {

    .panel-title, .livemessage, .finishMessage {
        font-size: 12px;
    }
    .overs {
        font-size: 10px;
    }

}

.livemessage, .finishMessage {
    text-align: center;
    font-weight: bold;
}

.livemessage {
    color: blue;
}

.finishMessage {
    color: #0b801a;
}

.viewmore-home {
    font-weight: bold;
    text-align: center;
}



/*------------------------------- past matches page ---------------------------*/

.match-list-wrapper {
    margin-top: 4px;
    background: #f6f8f8;
    padding-top: 40px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo-xs{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #cfaf00;
}



/*---------------------- Filter Navbar-------------*/

.navbar.navbar-inverse.filter-navbar {
    color: #707070;
    background: linear-gradient(#fff, #eeeeee, #e2e2e2);
    border: 3px double silver;
    border-radius: 10px;
}

.navbar.navbar-inverse.filter-navbar li {
    text-align: center;
    padding: 4px;
}

.btn.filter-button {
    margin-top: 5px;
}

/*------------------------------ search bar --------------------------------- */

@media only screen and (min-width: 601px) {

    .input-group.searchbar {
        margin: 0 auto;
        width: 400px;
    }

}

@media only screen and (max-width: 600px) {

    .input-group.searchbar {
        width: auto;
    }

}

.searchbar-wrapper {
    /*  background: linear-gradient(#018DB3, #0396B9, #0694BA);*/
    margin-top: -10px;
    background: #36559e;
    padding-top: 10px;
    padding-bottom: 10px;
    /*box-shadow: 0 2px 5px 2px rgba(35,54,101,0.9);*/
}

.input-group > .form-control {
    background: #36559e;
    border: none;
    caret-color: white;
    color: #c9c9c9;
    -webkit-box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 7px 2px rgba(0, 0, 0, 0.2);
}

.input-group .btn {
    background: linear-gradient(#476fcf, #3b5dad, #36559e);
    -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    border: none;
}

.input-group .btn:hover {
    background: linear-gradient(#507dea, #4167bf, #395aa8);
    color: #7a8cba;
}

.input-group.form-control {

    /*border-radius: 5px;*/
    /*box-shadow: 0 0 0 3px rgba(255,255,255,0.5);*/
/ / all sides shadow border: 2 px;
}

/*---------------------------- match card -------------------------------- */

.home.alert {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
}

.media {
    color: #476fcf;
    border-radius: 5px 5px 5px 5px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.wrapper-list-home {
    margin-bottom: 20px;
}


.media > .name {
    text-align: center;
    border-bottom: 1px solid silver;
    background: #e8e8e8;
}

.media > .name h4 {
    margin: 5px 0 5px 0;
}
.media > .name h5 {
    margin: 0;
}

.media > .name > a:hover {
    text-decoration: none;
    color: #5687fc;
}

.media .media-body {
    /*padding-left: 20px;*/
    padding: 10px;
    font-size: 15px;
    color: #a6a6a6;
}

.media > .media-body > div {
    padding: 5px;
}

.media > .media-body > div > i {
    color: #737373;
}

.venue {
    font-size: 12px;
    font-weight: bold;
}

.viewmore {
    text-align: center;
}


.media-object {

    display: block;
    margin-top: 12%;
    margin-left: 15%;
    height: 90px;
    width: 90px;
    border-radius: 50%;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}


@media (max-width: 992px) {

    .media > .name h4, .media > .name h4 {
        font-size: 1em;
    }

    .media > .media-body {
        /*padding-left: 20px;*/
        padding: 5px;
        font-size: 11px;
    }

}


/*---------------------match details---------------------*/

.first-innings {
    background: #ffffff;
}

.second-innings {
    background: #a49bff;
}

.title-details {
    background: #fff;
    text-align: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
.title-head {
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo-sm {
    width: 45px;
    height: 45px;
    border: 2px solid gold;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
}


.table caption {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: black;
}

@media (max-width: 768px) {
    .title-details {
        font-size: 12px;
    }
}



/*-------------------- Loader --------------------------*/

#loader-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 10;
    /*margin-top: 50px;*/
    /*margin-bottom: 350px;*/
    /*position: relative;*/
    /*left: 48%;*/
    /*top: 48%;*/
}

#loader {

    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #36559e;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@media (max-width: 992px) {
    #loader {
        border: 3px solid #f3f3f3;
        border-radius: 50%;
        border-top: 3px solid #36559e;
        width: 50px;
        height: 50px;
    }
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



